<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-xl">
        <!--<button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <a class="navbar-brand" href="">Attestor Report</a>
        <div class="collapse navbar-collapse">

          <div class="col text-right">
            <div ngbDropdown class="d-inline-block dropdown">
              <button class="btn btn-outline-primary" ngbDropdownToggle>Benchmarks</button>
              <div ngbDropdownMenu>
                  <div *ngFor="let benchmark of benchmarks">
                    <button class="dropdown-item" (click)="routeToBenchmark(benchmark.id)"> {{benchmark.name}} </button>
                  </div>
              </div>
          </div>
        </div>

        </div>
    </nav>
</div>
