<div [@routerTransition]>
    <app-page-header [heading]="'Verification  Input -- Model Checking'" [icon]="'fa fa-folder-open'"></app-page-header>

    <h4> Specification </h4>

    <div class="form-group">

    <div *ngIf="formulae != undefined">
      <div *ngFor="let formula of formulae">
          <input class="form-control" id="formula" type="text" placeholder={{formula}} disabled="">
      </div>
    </div>

    <div *ngIf="formulae == undefined">
      No formulae specified.
    </div>

    <div>
      Find detailed information about the supported LTL formulae <a href="https://github.com/moves-rwth/attestor/wiki/LTL-Formula">here</a>.
    </div>

</div>
