<div [@routerTransition]>
    <app-page-header [heading]="'Verification  Input -- Initial Configurations'" [icon]="'fa fa-folder-open'"></app-page-header>

    <div class="row">
        <div class="col-lg-4">
          <div class="card card-default">
              <div class="card-header">
                  <h3> List of Initial Heap Configurations </h3>
              </div>

            <ul class="list-group">
                <div *ngFor="let number of initHCs">
                  <li class="list-group-item" ><a (click)="loadInitHC(number)">
                    Initial Heap Configuration {{number}}
                  </a></li>
                </div>
              </ul>
            </div>
          </div>
        <!-- /.col-lg-3 -->
      <div class="col-lg-7">
        <div class="card card-default">
          <div class="card-header">
            <h3>Initial Heap Configuration {{initalHCNumber}}</h3>
          </div>

        <div id="output">
              {{initHCPath}}
        </div>
        <div *ngIf="showInitHC" id="initHC">

        </div>
      </div>

      </div>
      <!-- /.col-lg-8 -->

    </div>
</div>
