<div [@routerTransition]>
  <app-page-header [heading]="'Abstract State Space'" [icon]="'fa fa-sitemap'"></app-page-header>

  <div class="row">
      <div class="col-lg-7">
        <div class="card mb-3">
            <div class="card-header">State Space Viewer</div>
            <div class="card-block">
              <div class="col text-right">
                <div ngbDropdown class="d-inline-block dropdown">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>State Filters</button>
                  <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="filterService.collapseChains(cy)">Collapse chains</button>
                    <button class="dropdown-item" (click)="filterService.removeFilters(cy)">Remove all filters</button>
                  </div>
              </div>
            </div>
            <div id="cy">
            </div>
          </div>
          </div>
      </div>
      <div class="col-lg-5">
        <div class="card mb-3">
            <div class="card-header">Heap State {{nodeId}} </div>

            <div class="card-block">
                <div id="cy2">

                </div>
                <div>
                <button type="button" class="btn btn-info" *ngIf="stmt">{{stmt}}</button>
                <button type="button" class="btn btn-success" *ngIf="apPresent">{{ap}}</button>
                </div>
            </div>
          </div>
      </div>
    </div>

  <div *ngIf="showStateSpace"> <!-- Check here is extended report is necessary!!!-->



    <div id="loading" *ngIf="notLoaded">
      <p>Loading state space...</p>
      <!--<p id="loadTroubleshoot">
        <abbr title="Large state spaces might require a few seconds. Furthermore note that this page has to be accessed from a running http server.">
      Why does this take so long?
      <abbr/>
    </p>-->

      <span class="fa fa-refresh fa-spin"></span>
    </div>


    <!--<div id="search-wrapper">
      <input type="text" class="form-control" id="search" placeholder="Search">
    </div>

    <div id="info">
    </div>


    <button id="reset" class="btn btn-default"><i class="fa fa-arrows-h"></i></button>

    <button id="filter" class="btn btn-default"><i class="fa fa-filter"></i></button>

    <button id="about" class="btn btn-default" (click)="displayAbout()"><i class="fa fa-info"></i></button>-->

  <!--<title>Attestor Statespace Viewer</title>

    <div id="cy"></div>
    <div id="cy2"></div>
    <div id="loading">
      <p>Loading state space...</p>
      <p id="loadTroubleshoot"><abbr title="Large state spaces might require a few seconds. Furthermore note that this page has to be accessed from a running http server.">
      Why does this take so long?
      <abbr/></p>
      <span class="fa fa-refresh fa-spin"></span>
    </div>





    <script src="lib/fastclick.min.js"></script>
    <script src="lib/jquery.min.js"></script>

    <script src="lib/cytoscape.min.js"></script>

    <script src="lib/dagre.min.js"></script>
    <script src="lib/cytoscape-dagre.js"></script>

    <script src="lib/jquery.qtip.min.js"></script>
    <link href="lib/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
    <script src="lib/cytoscape-qtip.js"></script>

    <script src="lib/bluebird.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/typeahead.bundle.js"></script>
    <script src="lib/handlebars.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/cytoscape-cxtmenu.js"></script>

    <script src="lib/attestor-viewer.js"></script>

    <button id="reset" class="btn btn-default"><i class="fa fa-arrows-h"></i></button>

    <button id="filter" class="btn btn-default"><i class="fa fa-filter"></i></button>

    <button id="about" class="btn btn-default"><i class="fa fa-info"></i></button>

  -->

  <div id="about-content" *ngIf="displayAboutFlag">
    <p>Key:</p>
    <p>
    <!--<ul>
      <li>White: initial state</li>
      <li>Red: final state</li>
      <li>Green: states merging at least two branches</li>
      <li>Yellow: materialization edges</li>
      <li>Blue: Edges summarizing a chain of states</li>
      <li>Gray: all other states and edges</li>
    </ul>-->
    </p>

    <p>State space generated by <a href="https://github.com/moves-rwth/attestor">Attestor <i class="fa fa-external-link"></i></a>. </p>

    <p>This app was made using <a target="_blank" href="http://js.cytoscape.org">Cytoscape.js <i class="fa fa-external-link"></i></a>. </p>

    <p>Design inspired by <a target="_blank" href="http://www.wineandcheesemap.com/">wineandcheesemap <i class="fa fa-external-link"></i></a>. </p>
  </div>

    <!--<div id="filters">

      <div class="filterset-section-title">Options</div>-->

      <!--<div class="filtersets">
        <div class="filterset">
          Test
          <input id="focusState" type="checkbox" checked></input><label for="focusState">Focus selected state</label><br />
        </div>
      </div>

      <div class="filterset-section-title">State filters</div>

      <div class="filtersets">
        <div class="filterset">

          Test
          <input id="essentialStatesOnly" type="checkbox"></input><label for="essentialStatesOnly">Hide chains</label>
        </div>
      </div>-->
    <!--</div>

  </div>-->
</div>
