<div [@routerTransition]>
    <app-page-header [heading]="'Verification  Input'" [icon]="'fa fa-folder-open'"></app-page-header>

    <div class="row">
        <div class="col-lg-3">
          <div class="card card-default">
              <div class="card-header">
                  <h3> Grammar </h3>
              </div>

              <ul class="list-group">
                <div *ngFor="let entry of ntEntry">
                  <li class="list-group-item active" > {{entry.nonterminal}} </li>

                  <li class="list-group-item" *ngFor="let name of entry.rules; let i = index"><a (click)="loadRule(entry.nonterminal, i + 1)">
                  {{name}}
                  </a></li>
                </div>
              </ul>
            </div>
          </div>
        <!-- /.col-lg-3 -->
      <div class="col-lg-8">
        <div class="card card-default">
          <div class="card-header">
            <h3>Rule Viewer {{ruleName}}</h3>
          </div>

        <div id="output">
              {{rulePath}}
        </div>
        <div *ngIf="showRule" id="rule">

        </div>
      </div>

      </div>
      <!-- /.col-lg-8 -->


  </div>

</div>
