#cy {
  height: 50vh;
//  width: 65%;
//  position: absolute;
//  left: 0%;
//  top: 0%;
  background: #fff;
}

#cy2 {
  height: 50vh;
//  width: 35%;
//  position: absolute;
//  left: 60%;
//  top: 0%;
  background: #fff;
//  border-left: solid #fff;
}
